@font-face {
  font-family: "one"; /* Project id 2273654 */
  src: url('iconfont.woff2?t=1625200059869') format('woff2'),
       url('iconfont.woff?t=1625200059869') format('woff'),
       url('iconfont.ttf?t=1625200059869') format('truetype');
}

.one {
  font-family: "one" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.one-icon-create:before {
  content: "\e687";
}

.one-icon-key:before {
  content: "\e686";
}

.one-icon-word:before {
  content: "\e685";
}

.one-icon-search:before {
  content: "\e674";
}

.one-icon-down-arrow:before {
  content: "\e675";
}

.one-icon-delete-b:before {
  content: "\e676";
}

.one-icon-link:before {
  content: "\e677";
}

.one-icon-pie:before {
  content: "\e678";
}

.one-icon-download:before {
  content: "\e679";
}

.one-icon-add:before {
  content: "\e67a";
}

.one-icon-error:before {
  content: "\e67b";
}

.one-icon-more:before {
  content: "\e67c";
}

.one-icon-setting:before {
  content: "\e67d";
}

.one-icon-export:before {
  content: "\e67e";
}

.one-icon-collect:before {
  content: "\e67f";
}

.one-icon-turn-point:before {
  content: "\e680";
}

.one-icon-like:before {
  content: "\e681";
}

.one-icon-share:before {
  content: "\e682";
}

.one-icon-ml-line:before {
  content: "\e683";
}

.one-icon-b-quote:before {
  content: "\e684";
}

.one-icon-t-iteration:before {
  content: "\e66d";
}

.one-icon-grid:before {
  content: "\e66e";
}

.one-icon-time:before {
  content: "\e66f";
}

.one-icon-transfer-w:before {
  content: "\e670";
}

.one-icon-iteration:before {
  content: "\e671";
}

.one-icon-network:before {
  content: "\e672";
}

.one-icon-lightning:before {
  content: "\e673";
}

.one-icon-remind:before {
  content: "\e665";
}

.one-icon-card:before {
  content: "\e666";
}

.one-icon-type:before {
  content: "\e667";
}

.one-icon-addressbook:before {
  content: "\e668";
}

.one-icon-zhuanru:before {
  content: "\e669";
}

.one-icon-reset-lock:before {
  content: "\e66a";
}

.one-icon-switch:before {
  content: "\e66b";
}

.one-icon-transfer:before {
  content: "\e66c";
}

.one-icon-delete:before {
  content: "\e660";
}

.one-icon-copy:before {
  content: "\e661";
}

.one-icon-question:before {
  content: "\e662";
}

.one-icon-open-lock:before {
  content: "\e663";
}

.one-icon-backup:before {
  content: "\e664";
}

.one-icon-user:before {
  content: "\e65d";
}

.one-icon-lock:before {
  content: "\e65e";
}

.one-icon-d-lock:before {
  content: "\e65f";
}

.one-icon-homepage:before {
  content: "\e65c";
}

.one-icon-periodical:before {
  content: "\e658";
}

.one-icon-mine:before {
  content: "\e659";
}

.one-icon-disk:before {
  content: "\e65a";
}

.one-icon-wallet:before {
  content: "\e65b";
}

