export FLASK_APP=autoapp.py
export FLASK_DEBUG=1
export SECRET_KEY=yoursecretkey
export SEND_FILE_MAX_AGE_DEFAULT=31556926

export DATABASE_LOCAL_URL=
export DATABASE_SERVER_URL=

export ETHERSCAN_TOKEN=
export ETHERSCAN_APIKEY=


export MXC_API_KEY=
export MXC_SECRET_KEY=
export MXC_ROOT_URL=