//
// general.scss
//

body {
  font-family: 'Karla', sans-serif;
  overflow-x: hidden !important;
  position: relative;
  color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 1.3;
}



.btn,
.btn:focus,
button,
button:focus {
  outline: none !important;
}

a {
  text-decoration: none !important;
  outline: none;
}

p {
  font-size: 17px;
  line-height: 26px;
}

.row > * {
  position: relative;
}
