//
// home.scss
//

.bg-home{
  padding: 220px 0px  250px 0px;
}

.home-overlay{
 background-image: url(../images/bg-1.png);
 opacity: 0.7;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

.home-heading-title{
  box-shadow: 0px 30px 30px 0px rgba($dark, 0.06);
    background: $white;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 5px;
}

.home-title{
  max-width: 700px;
  font-size: 46px;
  margin: 0 auto;
}

.home-desc{
  max-width: 600px;
  margin:  auto;
}

.form-select{
  color: #676f86 !important;
}

.home-form {
  background: $white;
  padding: 20px 21px;
  box-shadow: $box-shadow;
  .form-control {
    border: 1px solid #dfe9f1;
    height: 54px !important;
    font-size: 15px;
    border-radius: .25rem;
    ::placeholder{
     color: #676f86;
    }
    &:focus{
      border-color: #e4eef7;
    }
  }
  .home-button{
    .btn{
     padding-top: 15px;
     padding-bottom: 15px;
    }
  }
}


// home-2

.search-form {
  input {
      padding: 14px 20px;
      width: 100%;
      font-size: 17px;
      color: $muted !important;
      border: none;
      outline: none !important;
      padding-right: 160px;
      padding-left: 30px;
      background-color: $white;
      border-radius: 30px;
      box-shadow: $box-shadow;
  }
  button {
      position: absolute;
      top: 6px;
      right: 7px;
      outline: none !important;
      font-size: 15px;
      padding: 9px 30px;
  }
  form {
      position: relative;
      max-width: 600px;
      margin: 0px auto;
  }
  }


  .bg-home-2{
    background-image: url(../images/overlay-5.png);
    padding: 220px 0px  220px 0px;
    background-position: center;
  }


  // home 3

  
.bg-home-3{
  background-image: url(../images/overlay-6.png);
  padding: 150px 0px  0px 0px;
}

.home-img-3{
  img{
    position: relative;
  top: 100px;
  }
}


// home 4

.bg-home-4{
  position: relative;
  background-image: url(../images/bg-1.jpg);
  background-position: center;
  padding: 220px 0px 250px 0px;
}


.play-btn {
  background-color: $primary;
  color: $white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: inline-block;
  font-size: 22px;
  line-height: 45px;
  text-align: center;
}

.play-shadow {
  vertical-align: middle;
}


.play-shadow {
  border-radius: 50%;
  border: 1px solid transparent;
  width: 82px;
  height: 82px;
  margin: 20px auto 0px auto;
}

.home-modal{
  border: 0;
  background-color: transparent;
  .btn-close{
    width: 36px;
    height: 36px;
    background-color: rgba($white, 0.5);
    border-radius: 10px;
    position: relative;
    top: 70px;
    z-index: 3;
    &:hover,
    &:focus{
      opacity: 0.5;
    }
  }
  video{
    &:focus{
      outline: none;
    }
  }
}

.video-box{
 width: 100%;
}

// home 5


.bg-home-5{
  background-image: url(../images/bg-2.jpg);
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
}

.slidero {
  position: relative;
  z-index: 1;
}


// home-6



.home-registration-form {
  padding: 40px 35px;
  border-radius: 3px;
  box-shadow: $box-shadow;
  .registration-form {
    label {
      font-size: 15px;
    }
  }
}

.registration-form{

  .registration-input-box {
    border: none;
    border-radius: 0px;
    color: $muted;
    border-bottom: 1px solid #c5c5c5;
    box-shadow: none !important;
    padding-left: 0;
    padding-right: 0;
    &:focus{
      border-color: $primary;
    }
  }

}

