//
// variables.scss
//

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500&family=Lato:wght@400;700&display=swap');

 $primary:   #1e57c7; 
$success:   #0fdf89;
$info:      #229bee;
$warning:   #f6cb42;
$danger:    #fb3e3e;
$orange:    #f09105;
$purple:    #704fff;
$cyan:      #00e6e6;
$blue:      #2762da;
$pink:      #f85f89;
$white:     #ffffff;
$dark:      #404b67;
$light:     #f8fafd;
$muted:     #808eb1;

// stylelint-disable
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #efefef;
$gray-400: #e6effe;
$gray-500: #adb5bd;
$gray-600: #89a2b5;
$gray-700: #495057;
$gray-800: #2d2d2d;
$gray-900: #1d262d;

$colors: (
    "primary": $primary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "orange": $orange,
    "dark": $dark,
    "cyan": $cyan,
    "blue": $blue,
    "muted": $muted,
    "purple": $purple,
    "pink": $pink,
    "white": $white,
    "light": $light
);


// Body Background
$body-bg:                   #f5f5f5;
$bg-gradient:               linear-gradient(to right, $primary, $info);
$box-shadow:                0px 30px 30px 0px rgba(64, 75, 103, 0.06);


// Base font
$font-size-base:            14px;

$font-family-base:          'Karla', sans-serif;
$font-family-secondary:     'Lato', sans-serif;
