body,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h4,
h5 {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: #666666;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-align: left;
}

select {
    font-size: 12px;
}

table {
    border-collapse: collapse;
}

fieldset,
img {
    border: 0 none;
}

fieldset {
    margin: 0;
    padding: 0;
}

fieldset p {
    margin: 0;
    padding: 0 0 0 8px;
}

legend {
    display: none;
}

address,
caption,
em,
strong,
th,
i {
    font-style: normal;
    font-weight: 400;
}

table caption {
    margin-left: -1px;
}

hr {
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #e4e4e4;
    border-width: 1px 0;
    clear: both;
    height: 2px;
    margin: 5px 0;
    overflow: hidden;
}

ol,
ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

caption,
th {
    text-align: left;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
}

/* 定义滚动区域的样式，设置高度无意义。 */
::-webkit-scrollbar {
    width: 10px;
}
/* 定义滑块的样式 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #9598a7;
    -webkit-box-shadow: inset 0 0 5px rgba(215, 215, 215, 1);
}

::-webkit-scrollbar-thumb:hover {
    background: #818491;
}
/* 定义滚动条轨道的样式 */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #e3e3e3;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
