.c-card {
  width: 100%;
  height: 100%;
  border-radius: 1.4rem;
  overflow: hidden;
  border: none;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.02);
  position: relative;
  padding: 2.4rem 1.2rem 1.2rem;
  background-color: white;
  .status-container {
    position: absolute;
    right: 0;
    top: 0;
    img {
      width: 3.4rem;
      height: 3.4rem;
    }
  }
  .h-line {
    width: 1.6rem;
    height: 0.2rem;
    background: var(--primary-custom);
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    border-radius: 4px;
  }
  .desc{
    text-align: left;
    color: var(--primary-text);
    margin: .8rem 0;
    height: 42px;
    overflow: hidden;
  }
  .primary-btn {
    width: 100%;
    margin-top: 1rem;
  }
}
.card-icons {
  position: relative;
  margin-right: 2.4rem;
  img {
    width: 2.8rem;
    height: 2.8rem;
    box-shadow: 0 4px 12px 4px rgba(0, 0, 0, 0.05);
    border-radius: 2.8rem;
    border: 1px solid white;
  }
  .icon2 {
    position: absolute;
    left: 2.4rem;
  }
  .icon1 {
    position: relative;
    left: 0;
  }
}
.card-title-text {
  display: flex;
  justify-items: center;
  align-items: center;
}
.card-link-top-box {
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
  background-image: linear-gradient(to bottom, #ffffff, #F6F7F9);
  padding: .8rem 1.2rem 2.2rem;
  overflow: hidden;
}
.card-link-icons {
  display: flex;
  align-items: flex-end;
  width: 3.5rem;
  margin-right: .4rem;
  img {
    box-shadow: 0 4px 12px 4px rgba(0, 0, 0, 0.05);
    border-radius: 2.8rem;
    border: 1px solid white;
  }
  .icon1 {
    width: 2.8rem;
    height: 2.8rem;
  }
  .icon2 {
    margin-left: -1rem;
    width: 1.8rem;
    height: 1.8rem;
  }
}
.card-link-title-text {
  flex: 1;
  overflow: hidden;
  .link-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: .4rem;
    }
    .link-icon {
      display: inline-block;
      min-width: .8rem;
      width: .8rem;
      height: .8rem;
      background-repeat: no-repeat;
      background-image: url("~@/static/images/link-icon.png");
      background-position: center center;
      background-size: 100% 100%;
    }
  }
}
.validator-container{
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  .validator {
    background-color: var(--background);
    margin: 4px 6px;
    padding: 4px 10px;
    border-radius: 8px;
    color: #BDBFC2;
  }
}
.detail-info-box {
  margin-top: 1.8rem;
  .project-info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0.6rem;
    margin-bottom: 0;
    .name {
      flex: 1;
      text-align: left;
      color: rgba(189, 191, 194, 1);
      font-weight: bold;
    }
    .info {
      text-align: right;
      font-weight: 500;
    }
  }
}
