.p-card {
  background-color: rgba(204, 247, 255, 1);
  border-radius: 1.4rem;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  // overflow: hidden;
  .poster{
    border-radius: 1.4rem 1.4rem 0 0 ;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 9.6rem;
    object-fit: cover;
  }
}

.back-icon {
  position: absolute;
  left: 1.2rem;
  top: 1.2rem;
  width: 1.8rem;
  height: 1.8rem;
}
.p-detail-info {
  margin-top: 9.6rem;
  background: white;
  padding: .6rem 1.2rem 1.2rem;
  position: relative;
  border-bottom-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
}
.logo {
  position: absolute;
  border-radius: 3.6rem;
  width: 3.6rem;
  height: 3.6rem;
  top: -1.2rem;
  box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 0.05);
  border: 1px solid white;
}
.text-info {
  margin-left: 4.4rem;
}
.title {
  color: #242629;
  text-decoration: none;
  padding-right: 1.2rem;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: right center;
  margin-bottom: .3rem;
  &.official-link {
    background-image: url("~@/static/images/official-link.png");
  }
  &.link {
    background-image: url("~@/static/images/auctionPlanLink.png");
  }
}
.desc {
  color: #242629;
  font-size: .7rem;
  line-height: 1.2rem;
  word-break: break-all;
}
.c-card {
  padding: 1.2rem;
  background: white;
  border-radius: 1.4rem;
  margin-bottom: 1.2rem;
}
@media (max-width: 700px) {
  .p-card {
    .poster{
      height: 6rem;
    }
  }
  .p-detail-info{
    margin-top: 6rem;
  }
}
