.card {
  width: 100%;
  .top {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    .icon {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: .4rem;
    }
    .balance-right {
      display: flex;
      flex: 1;
      align-content: center;
      justify-content: space-between;
      span {
        text-align: left;
      }
      .title {
        font-size: .8rem;
        font-weight: 600;
      }
      .balance-name {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        img:hover {
          cursor: pointer;
        }
      }
    }
  }
  .bottom{
    padding-top: 1.2rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
  button {
    height: 2.4rem;
    font-size: .8rem;
    line-height: .8rem;
  }
}
