.am-search {
    border-bottom: 1px solid #ddd;
}

.showmodal{
    display: block;
    position: fixed;
    top: 0;
    z-index: 2999;
    width: 100%;
}

.hidemodal{
    display: none;
}

.showmodaltwo{
    display: block;
    position: fixed;
    top: 0;
    z-index: 2999;
    width: 100%;
}

.hidemodaltwo{
    display: none;
}

.showaccountokmodal{
    display: block;
    position: fixed;
    top: 0;
    z-index: 2999;
    width: 100%;
}

.hideaccountokmodal{
    display: none;
}

.sub-title {
    color: #888;
    font-size: 14px;
    padding: 30px 0 18px 0;
}
.content{
    width: 100%;
    height: 100%;
}
.search-content .search-bar{
    width: 100%;
}

.account-info{
    margin: 3px;
    display: flex;
    align-content: space-between;
}

.account-info-left{
    margin: 2px;
    float: left;
    width: 50%;
}

.account-info-right{
    float: right;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-text{
    width: auto;
    font-size: 10px;
    margin: 10px;
    padding: 2px 8px 2px 8px;
    border: 1px solid #a1a1a1;
    border-radius: 25px;
}

.icon-text{
    font-weight: bold;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon{
    margin: 5px;
}

.card-content{
    max-width: 100%;
    padding: 15px 15px;
    margin:5px 15px;
    border-radius:25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-container{
    height: 50px;
}
.top-name{
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-text{
    height: 10px;
    line-height: 5px;
    font-size: 28px;
    font-weight: bold;
}
.top-time-group{
    float: right;
    width: 50px;
    height: 50px;
    background-color: ghostwhite;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-time-1{
    width: 50px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
}
.top-time-2{
    width: 50px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
}

.bottom-container{
}
.am-list-view-scrollview{
    background-color: rgb(255, 255, 255);
}
.am-list-header{
    display: none!important;
}
.am-list-header::before{
    display: none!important;
}
.am-list-header::after{
    display: none!important;
}
.am-list-body::before{
    display: none!important;
}
.am-list-body::after{
    display: none!important;
}
.am-list-body{
    background-color: rgb(255, 255, 255);
}

.am-list-footer{
    display: none!important;
}

.card-context{
    height: 280px;
    margin: 15px;
    border: 2px solid;
    border-radius: 35px;
}