{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block content %}
      <section class="py-3 container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">科幻产业区块链</h1>
            <p class="lead text-muted">这是一个世界。这里的故事互相缠绕，永远流传……</p>
            <p class="lead text-muted">去中心化，所有创作者共同拥有。</p>
            <p class="lead text-muted">底层区块链技术，永久存证。</p>
            <p>
              <a href="#" class="btn btn-primary my-2">赛凡链蓝皮书</a>
              <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
          </div>
            <div class="col-lg-6">
                <h1 class="fw-light">链上实时数据</h1>
                <ul>
                    <li>入链：52545</li>
                </ul>
                <section>
                  <h2>《银河书：意谛》</h2>
                  关于银河星旋的未来之书，赛凡链的奠基之作，无穷之书的起点。
                  <ul>
                    <li>作者：<span>3</span>人</li>
                    <li>字数：<span>3</span>万</li>
                    <li>评论：<span>3</span>篇</li>
                  </ul>
                  <a href="" class="btn btn-sm btn-primary">立即参与创作</a>
                </section>
            </div>
        </div>
      </section>

    <section class="container">
        <div class="row py-lg-3">
            <div class="col-lg-6">
                <h3>银河系</h3>
                <p>
                    银河按四个象限划分大区域。在47，48纪周，各区域主要政体有：
                </p>
                <ul>
                    <li>星共体</li>
                    <li>舰盟</li>
                    <li>悬穹异构体</li>
                    <li>迷蓝水域</li>
                    <li>哈克尔联盟</li>
                    <li>奎星帝国</li>
                    <li>塔图洛独立文明</li>
                </ul>
                <div class="dropdown-divider"></div>
                <a href="" class="btn btn-sm btn-primary">创造星球</a>
            </div>
            <div class="col-lg-6">
                <h3>协同创作</h3>
                <p>多人合作，共同编写传奇故事</p>
            </div>
        </div>
    </section>

{% endblock %}