{% extends 'base_blogs.html' %}

{% block content %}


{% for post in posts %}

<div class="row">

    <a class="h4" href="{% url 'detail' post.id %}">{{ post.title }}</a>

    <div class="my-3">
        <span>作者:{{post.owner.username}}</span>
        <span>分类:{{post.category.name}}</span>
    </div>

    <div class="p-3">
        {{post.desc}}
    </div>

</div>

{% endfor %}

{% if page_obj %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock content %}