{% extends "base_dashboard.html" %}
{% load widget_tweaks %}

{% block title %}用户中心{% endblock %}

{% block content %}

<div class="small mb-1">开始撰写一个片断。之后你可以不断完善和扩充它的内容，直到它成为一篇令你满意的佳作：</div>
<form action="/api/v1/stories/" method="post">
    {% csrf_token %}
    <div class="">
        {{ form.title }}
    </div>
    <div class=" mt-2">
        {{ form.content }}
    </div>
        {{form.authors}}
    <div class="">
        <input type="submit" name="" id="" value="提交"  class="mt-3 col-4 btn btn-primary">
    </div>
</form>

<div class="">
    <h2 class="h4 mt-3">最新片断</h2>
    <ul class="list-unstyled">
    {% for stage in stages %}
        <li>
            <a href="/accounts/stage/{{stage.id}}">{{ stage.title }}</a>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}