.address{
    display:flex;
    justify-content: flex-start; 
}


.addressImg {
   width: 11px;
   height: 15px; 
   margin-left: 8px;
   margin-right: 5px;
}
.addressText{
    font-size: 12px;
    color: black;
}
.timeImg{
    height: 15px; 
    width: 15px;
    margin-left: 5px;
    
}
.ticketItem{
    margin-top: 10px;
    margin-bottom: 5px;
}
.ticketView{
    width: 100%;
    height: 164px;
}
.actionImg{
    width: 100px;
    height: 100px;
    margin-top:32px;
    margin-left: 38px;
    margin-right: 20px;
}