<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ url_for('public.home') }}">
        Eternity-labs
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('public.home') }}">主面板
                    <span class="sr-only">(current)</span>
                </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('public.home') }}">数据面板</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('public.about') }}">数据共享</a>
            </li>


        </ul>
    </div>
</nav>