.sort{
    width: 100%;
    height: 100%;
}
.title{
    /* margin-left: 24px;
    margin-top: 20px; */
    margin: 20px 0px 20px 24px;
}
.tabs{
    width: 100%;
    position: relative;
    /* color: #496aff; */
/* 
    height: auto;
    margin-top: 0;
    border: 1px solid rgb(21, 255, 110); */
}

.tabstop{
    height: 44px;
    margin-left: 20px;
    margin-right: 20px;
}

.tabstopcont{
    height:100%;
    position: relative;
    top: -1px;
    border: 1px solid #2f7ef5;
    border-radius: 25px;

}

.tabsgroup{
    /* display: none; */
    position: relative;
    top: -44px;
    margin-left: 20px;
    margin-right: 20px;
}