/* 改变主题色变量 */
$--color-primary: #1749C7;

/** border */
$--border-color-base: #9BA0B5;
$--border-radius-base: 6px;
$--font-size-base: 13px;

$--color-text-primary: #333;
$--color-text-regular: #666;
$--color-text-secondary: #999;
$--color-text-placeholder: $--border-color-base !default;

// /** input */
// // $--input-border-radius: 3px;
// $--input-height: 34px;
// $--input-border-radius:3px;

// /** button */
// $--button-padding-vertical: 8px;
// $--button-padding-horizontal: 12px;
// $--button-font-size: 13px;

// /* Radio
// -------------------------- */
// $--radio-font-size: 13px;
// $--radio-checked-text-color: $--color-text-regular;
// $--select-font-size: 12px;

// /* Checkbox
// -------------------------- */
// $--checkbox-font-size: 13px;
// $--checkbox-checked-text-color: $--color-text-regular;

// /* Avatar
// -------------------------- */
// $--avatar-background-color: $--color-primary;

// /* Badge
// -------------------------- */
// $--badge-background-color: #FF6161;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
